<h1>Show page</h1>

<a href="/wells">Back to the overview</a>


<%= render partial: 'chart', locals: {results: @results, wells: @wells, regex: @regex} %>


<table>
  <tr>
    <th>Well</th>
    <% 40.times do |i| %>
      <th>
        (cycle <%= i + 1 %>)
      </th>
    <% end %>
  </tr>
  <% @wells.each do |well| %>
    <!-- this will specifically select only 1 row -->
    <% if !@regex || @regex.match(well.name) %>
      <tr>
        <td> 
          <%= well.name %> 
        </td>
        <% @specific_results = @results.where(well_id: well.id) %>
        <% @specific_results.each do |result| %>
          <td>
            <%= result.fluorescence %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>